.nav {
    grid-area: n;
    background-color:rgb(130, 100, 237);
    text-align: center;
    padding: 20px;

  }

  .item {
    font-size: 30px;
    color:aliceblue;
  }

  .nav a {
    color:white;
    text-decoration: none;
  }
a.active {
  color:gold;
}
